.wrapper {
  width: 100%;
  height: 35px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.side-dec {
  width: 100%;
  max-width: 330px;
  height: 15px;
  margin: 0 1rem;
  background-color: var(--border-and-active-link);
}

.description {
  margin-top: 2.5rem;
  width: 100%;

  padding: 1rem;

  color: var(--white);
}


@media (max-width: 992) {

}