.side-nav {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 31%;

  background-color: var(--bg-side-nav);

  padding: 1.5rem;
}

.header-side-nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 30%;
}
.photo {
  background-color: var(--white);
  border: 3.5px solid var(--border-and-active-link);
  width: 110px;
  height: 116px;
}

.name {
  color: var(--white);
  font-size: 2rem;

  font-family: "Roboto";

  max-width: 60%;

  text-transform: capitalize;
}
