.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 32%;

  background-color: var(--bg-side-nav);

  padding: 1.5rem;
}

.header-side-nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 30%;
}
.photo {
  background-color: var(--white);
  border: 3.5px solid var(--border-and-active-link);
  width: 110px;
  height: 116px;
}

.name {
  color: var(--white);
  font-size: 2rem;

  font-family: "Roboto";

  max-width: 60%;

  text-transform: capitalize;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;

  margin-top: 1rem;

  height: 40%;
}
.navbar-nav {
  display: grid;
  grid-gap: 1.2rem;
  width: 100%;
}
.navbar-item.active {
  position: relative;
}
.navbar-item.active::before {
  content: "";
  position: absolute;
  left: 0;

  height: 100%;
  width: 2px;
  background-color: var(--border-and-active-link);
}
.navbar-link {
  margin-left: 1.2rem;
  font-size: 1.2rem;
}
