.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 350px;

  background-color: var(--bg-side-nav);

  padding: 1.5rem;

  border-right: 4px solid var(--underline);
}

.header-side-nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 30%;
}
.photo {
  background-color: var(--white);
  border: 3.5px solid var(--border-and-active-link);
  width: 100px;
  height: 100px;
}

.name {
  color: var(--white);
  font-size: 2rem;

  font-family: "Roboto";

  text-transform: capitalize;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;

  margin-top: 1rem;

  height: 40%;
}
.navbar-nav {
  display: grid;
  grid-gap: 1.2rem;
  width: 100%;
}
.navbar-item.active,
.navbar-item {
  position: relative;
}
.navbar-item.active::before {
  content: "";
  position: absolute;
  left: 0;

  height: 100%;
  width: 2px;
  background-color: var(--border-and-active-link);
}

.navbar-item::before {
  content: "";

  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--border-and-active-link);

  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar-item:hover::before {
  height: 100%;
}

.navbar-link {
  margin-left: 1.2rem;
  font-size: 1.2rem;

  text-transform: capitalize;
}

/* Responsive */

@media (max-width: 991px) {
  .name {
    font-size: 1.3rem;
  }
  .photo {
    margin-top: 1rem;
  }
}
