.App {
  display: flex;
  background-color: var(--bg-section);
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

}
.title {
  color: var(--white);

  font-size: 2.2rem;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}
