.container {    
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    padding-top: 47px;

    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.side-dec {
    width: 150px;
    height: 15px;
    margin  : 0 15px;
    background-color: var(--border-and-active-link);
}

.wrapper {
    height: 35px;
    display: flex;
    align-items: center;
}

.description {
    width: 730px;
    padding-top: 50px;
    
}