.title {
  width: 100%;
   max-width: 1000px;
  
  text-align: start;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -35%;
  width: 135px;
  height: 4px;

  background-color: var(--underline);
}

.main-content {
  width: 100%;
  max-width: 1000px;
  
  display: grid;
  height: 85%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.5rem;
  grid-template-rows: auto; 
  grid-gap: 1rem;
}

.box {
  margin: 1rem 0;
  width: 100%;
  max-width: 430px;
  height: 100%;
  background-color: aqua;
  
  border-radius: 7px;
}
