.title {
  position: relative;
  max-width: 140px;
}
.title::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -35%;
  width: 70%;
  height: 4px;

  background-color: var(--underline);
}
.main-content {
  margin-top: 2.5rem;

  height: 55vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  width: 30%;
  height: 40%;

  margin: 1rem 0;

  background-color: aqua;

  border-radius: 7px;
}
