.title {
  position: relative;
  max-width: 140px;
}
.title::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -13px;
  width: 70%;
  height: 4px;

  background-color: var(--underline);
}
.main-content {
  margin-top: 2.5rem;

  height: 85%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.box {
  margin: 1rem 0;
  height: 100%;
  background-color: aqua;

  border-radius: 7px;
}
